table, th, td {
    border: 1px solid;
  }

  table {
    width: 100%;
  }

  table {
    border-collapse: collapse;
  }

  table {
    border: 1px solid;
  }

  table {
    width: 100%;
  }
  
  th {
    height: 70px;
  }